/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, #127369, #4C5958);
    height: 100%;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

/* MAIN */

.calculadora {
    position: absolute;
    background-color: #10403B;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

button {
    margin: 3px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 4px;
    background-color: #4C5958;
    cursor: pointer;
    border: none;
    color: #fff;
}

button:hover {
    background-color: #191d1d;
}

#resultado {
    background-color: #fff;
    width: 224px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    border-radius: 5px;
    color: #191d1d;
    text-align: right;
    align-items: center;
    justify-content: center;
}

.assinatura {
    display: flex;
    text-align: center;
    justify-content: center;
}

.assinatura p {
    font-size: 14px;
}